@charset "UTF-8";

body {
    background-color: beige;
    font-family: helvetica;
}
h1 {
    color: darkgreen;
    background-color: rgb(231, 209, 200);
    text-align: center;
}
h2 {
    color: darkred;
    text-align: center;
}
p {
    color: darkblue;
    text-align: justify;
}